html{
    box-sizing: border-box;
  }
  
  *, *:before, *:after{
    box-sizing: inherit;
  }

  body{
      height: 100vh;
    background-color:  #bdbdbd; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main{
    background-color: #F8F8F8;
    width: 624px;
    border-radius: 16px;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border: 20px solid rgba(177, 176, 176, 0.5);
  }

  .card{
    display: flex;
  }

  .card__image{
    margin-right: 32px;
    width: 148px;
    height: 148px;
    border-radius: 74px;
  }

  .header__title{
      font-size: 36px;
      font-weight: normal;
      margin: 0;
  }

  .header__description{
      font-size: 18px;
      margin: 0;
      font-style: italic;
      color: #545454;
  }

  .card__description{
      margin-top: 28px;
      margin-bottom: 16px;;
      font-size: 16px;
  }

  .social{
      margin: 0;
      font-size: 16px;
  }

  .social__link{
      text-decoration: none;
      color: #E20613;
  }